/* Move down content because we have a fixed navbar that is 50px tall */
body {
    /*background: linear-gradient(90deg, rgba(205,217,221,1) 0%, rgba(132,209,233,1) 35%, rgba(6,122,173,1) 100%);*/
    background: linear-gradient(90deg, rgba(208,241,239,1) 0%, rgba(76,190,184,1) 49%, rgba(37,150,190,1) 100%);
}
    /* Wrapping element */
    /* Set some basic padding to keep content from hitting the edges */
  .body-content {
    padding-left: 0;
    padding-right: 0;
  }

/* Set widths on the form inputs since otherwise they're 100% wide */
input,
select,
textarea {
    max-width: 100%;
}


/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
 /*  .jumbotron {
        margin-top: 20px;
    } */

    .body-content {
        padding: 0;
        
    }
}

@media only screen and (min-width : 1200px) {

    .container {
        width: 100%;
    }
}
/* CSS PERSONAL */


.fixed-top {
    position: absolute !important;
}

#Image1 {
    height: 100px;
    position: relative;
    margin-top: -20px;
    margin-bottom: -20px;
    margin-left: -80px;
}

#navprincipal {
    background-color: white;
}

#navbarSupportedContent {
    padding-left: 15%;
}

li.nav-item {
    padding-right: 10%;
}


.btn.btn-outline-dark {
    border-radius: 100%;
}


/* BOTÓN ACCESO */
.botonacceso {
    border: none;
    cursor: pointer;
    color: white;
    padding: 8px 10px;
    border-radius: 8px;
    font-size: 16px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
    background: #005e63;
}


/* Mi perfil */
a.nav-link.dropdown-toggle {
    color: black;
    text-decoration: none;
    margin-right: -100px;
}

li#puntos {
    padding-right: 35px;
    list-style: none;
}

a#salir {
    margin-right: -40px;
}
/* Ripple magic */
.botonacceso {
    position: relative;
    overflow: hidden;
}

    .botonacceso:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 5px;
        height: 5px;
        background: rgba(255, 255, 255, .5);
        opacity: 0;
        border-radius: 100%;
        transform: scale(1, 1) translate(-50%);
        transform-origin: 50% 50%;
    }

@keyframes ripple {
    0% {
        transform: scale(0, 0);
        opacity: 1;
    }

    20% {
        transform: scale(25, 25);
        opacity: 1;
    }

    100% {
        opacity: 0;
        transform: scale(40, 40);
    }
}
.botonacceso:focus:not(:active)::after {
    animation: ripple 1s ease-out;
}


/* Wave */
.header {
    position: relative;
    text-align: center;
    background: linear-gradient(90deg, rgba(208,241,239,1) 0%, rgba(76,190,184,1) 49%, rgba(37,150,190,1) 100%);
    width: 100%;
}

.waves {
    position: relative;
    width: 100%;
    height: 15vh;
    margin-bottom: -7px;
}

#gentle-wave {
    width: 100%;
}

/* Animacion WAVE */

.parallax > use {
    animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
}

    .parallax > use:nth-child(1) {
        animation-delay: -2s;
        animation-duration: 7s;
    }

    .parallax > use:nth-child(2) {
        animation-delay: -3s;
        animation-duration: 10s;
    }

    .parallax > use:nth-child(3) {
        animation-delay: -4s;
        animation-duration: 13s;
    }

    .parallax > use:nth-child(4) {
        animation-delay: -5s;
        animation-duration: 20s;
    }

@keyframes move-forever {
    0% {
        transform: translate3d(-90px,0,0);
    }

    100% {
        transform: translate3d(85px,0,0);
    }
}
/*Responsive para movil de WAVE*/
@media (max-width: 768px) {
    .waves {
        height: 40px;
        min-height: 40px;
    }
}
/* FIN DE WAVE */

/* FOOTER */
footer {
    background-color: white;
    align-content: center;
    left: 0;
    width: 100%;
    bottom: 0;
    text-align: center;
    margin: 0;
    
}

.container.p-4 {
    left: 0;
    right: 0;
}

.listnav {
    margin-top: 0;
    text-align: left;
    display: block;
    list-style: none;
}

    .listnav li {
        padding-bottom: 3px;
    }

.listafooter {
    text-decoration: none;
    color: black;
}

    .listafooter:visited {
        text-decoration: none;
        color: black;
    }

.list-politics {
    padding-top: 5%;
    list-style: none;
}

.politics {
    text-decoration: none;
    color: dimgray;
    padding-bottom: 10px;
    font-size: 0.8em;
}

.p-3 {
    font-weight: bold;
}

.copyright {
    text-align: right;
}
/* REDES SOCIALES - FOOTER */

.field {
    display: inline-flex;
    width: 300px;
    justify-content: space-around;
    align-items: end;
}

.sns-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: none;
    transition-duration: .5s;
    box-shadow: 0px 10px 5px rgba(0, 0, 0, .3);
    cursor: pointer;
    background-color: #005e63;
}


    .sns-btn:hover {
        transform: scale(1.2);
        box-shadow: none;
    }

.sns-btn__icon {
    width: 25px;
}


.usnames {
    text-align: right;
    color: dimgray;
    font-family: Calibri;
    font-size: 13px;
}

#redesociales {
    text-align: right;
}